{% extends "base.html" %}
{% load static %}
{% block nav_home %} active {% endblock nav_home %}
{% block content %}

 {% comment %} {% if food %}
<img src="{{ food.image.url }}" alt="Food Image">
{% else %}
<p>No image available</p> {% endcomment %}

{% for object in object_list %}
{% comment %} {{object.name}} {% endcomment %}

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      {% if object.item_image %}
        <img src="{{object.item_image.url}}" class="card-img-left" style="width:100%;height:100%;background-size:cover;"
        alt="{{object.name}}" width="350px" min-height="350px">
      {% endif %}
    </div>
    <div class="col-md-8">
      <div class="card-body">

        <h5 class="card-title">{{object.item_name}}</h5>
        <p class="card-text">{{object.item_desc}}</p>
        <div>
          <button type="button" name="" id="" class="btn btn-outline-primary">₹ {{object.item_price}}/-</button>
        </div>

        <span class="badge text-light bg-secondary">{{object.category}}</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}