{% extends "base.html" %}
{% load static %}
{% block nav_home %} active {% endblock nav_home %}
{% block content %}

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
 
{% for object in object_list %}
{% comment %} {{object.name}} {% endcomment %}

<div class="col">
  <div class="card">
    {% if object.item_image %}
    <img src="{{object.item_image.url}}" class="card-img-left" style="width:100%;height:100%;background-size:cover;"
    alt="{{object.name}}" width="350px" min-height="350px">
  {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{ object.item_name }}</h5>
      <p class="card-text">{{ object.item_desc }}</p>
      <div>
           <a href="product/newdetail/{{object.item_id}}" class="btn btn-primary">Order Now</a>
        <button type="button" class="btn btn-outline-primary">₹ {{ object.item_price }}/-</button>
        <button type="button" class="btn btn-primary add-to-cart-btn">Add to Cart</button>
      </div>
    </div>
  </div>
</div>

{% endfor %}
</div>

<script>
  const buyButtons = document.querySelectorAll('.buy-btn');
  buyButtons.forEach(button => {
    button.addEventListener('click', () => {
      const parentDiv = button.parentNode;
      const quantityForm = parentDiv.querySelector('.quantity-form');
      quantityForm.style.display = 'block';
    });

    
    const cancelButtons = document.querySelectorAll('.cancel-purchase');
    cancelButtons.forEach(cancelButton => {
      cancelButton.addEventListener('click', () => {
        const parentDiv = cancelButton.parentNode;

       // console.log(parentDiv);
        const quantity = parentDiv.querySelector('.quantity-input');
        quantity.value = 1;
       //const quantityForm = parentDiv.querySelector('.quantity-form');
       parentDiv.style.display = 'none';
      });
    });
  });
</script>

{% endblock %}
